@font-face{
  font-family: "flykt-icons";
  src: url("/fonts/flykt-icons.eot");
  src: url("/fonts/flykt-icons.eot#iefix") format("embedded-opentype"),
       url("/fonts/flykt-icons.ttf") format("truetype"),
       url("/fonts/flykt-icons.woff") format("woff"),
       url("/fonts/flykt-icons.svg#flykt-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}


.icon{
  font-family: "flykt-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering ::::::::::: */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//------------------------------------------------------------------------------
// Predefined sizes
//------------------------------------------------------------------------------

.icon-12{
  font-size: 12px;
}


.icon-14{
  font-size: 14px;
}


.icon-16{
  font-size: 16px;
}

.icon-18{
  font-size: 18px;
}

.icon-19{
  font-size: 19px;
}

.icon-24{
  font-size: 24px;
}

.icon-26{
  font-size: 26px;
}

.icon-28{
  font-size: 28px;
}

.icon-30{
  font-size: 30px;
}

.icon-32{
  font-size: 32px;
}

.icon-34{
  font-size: 34px;
}


.icon-35{
  font-size: 35px;
}

.icon-36{
  font-size: 36px;
}

.icon-40{
  font-size: 40px;
}

.icon-42{
  font-size: 42px;
}

.icon-48{
  font-size: 48px;
}

.icon-54{
  font-size: 54px;
}

.icon-65{
  font-size: 65px;
}

.icon-68{
  font-size: 68px;
}

.icon-80{
  font-size: 80px;
}

.icon-108{
  font-size: 108px;
}

.icon-120{
  font-size: 120px;
}

.icon-141{
  font-size: 141px;
}

//------------------------------------------------------------------------------
// Icons
//------------------------------------------------------------------------------
$icon-bed: "\e908";
$icon-top-arrow : "\e906";
$icon-keywordsdelete : "\e907";
$icon-helpdesk-footer : "\e900";
$icon-arrowcalendar : "\e901";
$icon-arrowdown : "\e902";
$icon-arrowleft : "\e903";
$icon-arrowright : "\e904";
$icon-arrowup : "\e905";
$icon-facebook-footer : "\e802";
$icon-linkedin-footer : "\e803";
$icon-pinterest-footer : "\e801";
$icon-airplane-departing : "\e601";
$icon-beach : "\e602";
$icon-checkmark : "\e603";
$icon-checkmark-box : "\e604";
$icon-design-architecture : "\e605";
$icon-error : "\e606";
$icon-facebook : "\e607";
$icon-facebook_white_logo_noborders : "\e608";
$icon-flykt-logo : "\e609";
$icon-gastronomy : "\e60a";
$icon-googleplus_white_logo : "\e60b";
$icon-history-culture : "\e60c";
$icon-instagram : "\e60d";
$icon-linked-in : "\e60e";
$icon-map : "\e60f";
$icon-nature : "\e610";
$icon-nightlife : "\e611";
$icon-notification : "\e612";
$icon-shopping : "\e613";
$icon-snow : "\e614";
$icon-social : "\e615";
$icon-trip-drafts-clipheart : "\e617";
$icon-twitter : "\e618";
$icon-user-blank : "\e619";
$icon-wellness : "\e61a";
$icon-googleplus : "\e61b";
$icon-airplane-arriving : "\e600";

.icon-bed:before {
    content: $icon-bed;
}

.icon-keywordsdelete:before{
  content: $icon-keywordsdelete;
}

.icon-arrowcalendar:before{
  content: $icon-arrowcalendar;
}

.icon-arrowdown:before{
  content: $icon-arrowdown;
}

.icon-arrowleft:before{
  content: $icon-arrowleft;
}

.icon-arrowup:before{
  content: $icon-arrowup;
}

.icon-arrowright:before{
  content: $icon-arrowright;
}

.icon-facebook-footer:before{
  content: $icon-facebook-footer;
}

.icon-linkedin-footer:before{
  content: $icon-linkedin-footer;
}

.icon-pinterest-footer:before{
  content: $icon-pinterest-footer;
}

.icon-helpdesk-footer:before{
  content: $icon-helpdesk-footer;
}


.icon-airplane-arriving:before{
  content: $icon-airplane-arriving;
}

.icon-airplane-departing:before{
  content: $icon-airplane-departing;
}

.icon-beach:before{
  content: $icon-beach;
}

.icon-checkmark-box:before{
  content: $icon-checkmark-box;
}

.icon-checkmark:before{
  content: $icon-checkmark;
}

.icon-design-architecture:before{
  content: $icon-design-architecture;
}

.icon-error:before{
  content: $icon-error;
}

.icon-facebook:before{
  content: $icon-facebook;
}

.icon-flykt-logo:before{
  content: $icon-flykt-logo;
}

.icon-gastronomy:before{
  content: $icon-gastronomy;
}

.icon-googleplus:before{
  content: $icon-googleplus;
}

.icon-history-culture:before{
  content: $icon-history-culture;
}

.icon-instagram:before{
  content: $icon-instagram;
}

.icon-linked-in:before{
  content: $icon-linked-in;
}

.icon-map:before{
  content: $icon-map;
}

.icon-nature:before{
  content: $icon-nature;
}

.icon-nightlife:before{
  content: $icon-nightlife;
}

.icon-notification:before{
  content: $icon-notification;
}

.icon-shopping:before{
  content: $icon-shopping;
}

.icon-snow:before{
  content: $icon-snow;
}

.icon-social:before{
  content: $icon-social;
}

.icon-top-arrow:before{
  content: $icon-top-arrow;
}

.icon-trip-drafts-clipheart:before{
  content: $icon-trip-drafts-clipheart;
}

.icon-twitter:before{
  content: $icon-twitter;
}

.icon-user-blank:before{
  content: $icon-user-blank;
}

.icon-wellness:before, .icon-wellness-spa:before{
  content: $icon-wellness;
}
