@import "../foundation/foundation";
@import "variables";

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

@mixin button($color) {
  background-color: $color;
  border: none;
  color: white;
  padding: $button-padding;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}