@import "../foundation/foundation";
@import "variables";

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

@mixin shadow() {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 5px 2px 6px rgba(0, 0, 0, 0.32);
}

@mixin button($color,$font-color) {
  @include shadow();
  cursor: pointer;
  background-color: $color;
  border: none;
  color: $font-color;
  padding: $button-padding;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $button-fontsize;
  border-radius: $button-borderradius;
}