//Misc Variables
$button-padding:  8px 32px;
$button-fontsize:  16px;
$button-borderradius: 4px;
$button-loginLogoutBtn-color:#949494;
//Login Variables

//Main Page variables
$searchBtn-marginright:10px;
$searchBtn-color:10px;
$favouritesBtn-color:10px;
$logOutBtn-color:10px;
//Items list variables
$items-list-width: 920px;

$items-height: 105px;
$items-margin-bottom: 10px;

$items-photo-width: 104px;

$items-name-width: 79%;
$items-name-fontsize: 60px;
$items-name-fontcolor: #919191;

$items-favourite-width: 80px;
$items-favourite-height: 80px;
$items-favourite-fontsize: 58px;
$items-favourite-backgroundcolor: #00ffed;

