@import "./mixins/variables";

.destinationOpen {
  min-width: 868px !important;
  width: 868px !important;
}

.flykt-details-overview {
  height: 93.5vh;
  overflow: auto;
  &-summary {
    font-size: 14px;
    height: 172px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 5px 2px 6px rgba(0, 0, 0, 0.32);
    > div {
      height: 100%;
    }
    &-destPhoto {
      display: flex;
      align-items: center;
      > div{
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 5px 2px 6px rgba(0, 0, 0, 0.32);
        height: 133px;
        width: 133px;
        margin: 0 auto;
        background-size: cover;
        border-radius: 50%;
      }
    }
    .summary-details.columns {
      display: flex;
      align-items: center;
      text-align: left;
      > div:first-child {
        width: 100%;
      }
      .summary-name {
        border-bottom: 1px dashed $grey-dark;
        font-size: 20px;
      }
    }
    .flykt-details-overview-summary-selector.columns {
      .summary-title {
        text-align: center;
        height: 20%;
        line-height: 3;
        font-size: 15px;
        width: 198px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .summary-photo {
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 5px 2px 6px rgba(0, 0, 0, 0.32);
        height: 76px;
        width: 76px;
        margin: 0 auto;
        background-size: cover;
        border-radius: 50%;
        margin-bottom: 10px;
        margin-top: 5px;
      }
      .summary-btn {
        padding-top: 4px;
        height: 20%;
        .searchBtnContainer {
          cursor: pointer;
          background-color: #f9792e;
          text-align: center;
          width: 82px;
          line-height: 30px;
          color: white;
          margin: 0 auto;
          padding: 0px;
          border-radius: 2px;
          box-shadow: rgba(0, 0, 0, .317647) 0px 2px 7px 0px;
        }
      }
    }
    &-total {
      background-color: white;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 5px 2px 6px rgba(0, 0, 0, 0.32);
      margin-top: 6px;
      display: inline-flex;
      position: relative;
      > div {
        display: inline-block;
        margin-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;

      }
      .summary-price {
        margin-left: 10px;
        margin-top: 5px;
      }
      .summary-moreDetails {
        height: 60%;
        text-align: center;
        .infoBtnContainer{
          cursor: pointer;
          width: 100px;
          background: $active-blue;
          color: white;
          position: relative;
          display: inline-block;
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 5px 2px 6px rgba(0, 0, 0, 0.32);
          border-radius: 2px;
          line-height: 30px;
        }
      }
      .summary-checkout-btn {
        padding-top: 4px;
        height: 20%;
        .searchBtnContainer {
          cursor: pointer;
          background-color: $orange;
          text-align: center;
          width: 100px;
          color: white;
          margin: 0 auto;
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 5px 2px 6px rgba(0, 0, 0, 0.32);
          border-radius: 2px;
          line-height: 30px;
        }
      }
    }
  }

  &-gallery {
    padding-right: 20px;
    z-index: 0;
    height: 60vh;
    //position: absolute;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    .destination-photo-label {
      background: rgba(0, 0, 0, 0.7);
      position: relative;
      padding: 10px;
      color: white;
    }

    .destination-photo {
      cursor: pointer;
      height: 100%;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 5px 2px 6px rgba(0, 0, 0, 0.32);
      height: 100%;
      background-size: cover;
      a {
        position: relative;
        bottom: 0px;
        padding: 5px;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        display: block;
        top: 49vh;
      }
    }

  }
  > div:first-child {
    height: 10vw;
  }
}
