@import "./mixins/variables";

.flykt-component-modal{
  min-height: 100%;
  color: $grey-dark;
  padding: 10px;
  top: 0;
  width: 47%;
  background-color: white;
  position: fixed;
  z-index: 1;
  right: -48vw;
  box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 3px 12px rgba(0,0,0,0.32);
  transition          : right 0.3s;
  -o-transition       : right 0.3s;
  -ms-transition      : right 0.3s;
  -moz-transition     : right 0.3s;
  -webkit-transition  : right 0.3s;
  .flykt-resultList-wrapper{
    padding: 0 30px 0px 10px;
    position: absolute;
    width: 100%;
    height: 94.5vh;
    overflow-y: auto;
    .searchBox-formBody-directFlights{
      font-size: 12px;
      line-height: 1;
      float: left;
      width: 100%;
      margin-top: 5px;
      input{
        cursor: pointer;
        float: left;
        margin-right: 5px;
      }
    }
  }
}
.flykt-component-modal.open{
  right:0;
  min-height: 100vh;
  min-width: 890px;
}

div.flykt-result{
  cursor: pointer;
  position: relative;
  height:100%;
  background-size: cover;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.16), 5px 2px 6px rgba(0, 0, 0, 0.32);
  .result-location{
    color: white;
    height: 33%;
    background: rgba(0, 0, 0, 0.7);
    > div{
      margin-left: 15px;
    }
    .location-city {
      font-weight: bold;
      font-size: 22px;
    }
    .location-country {
      font-size: 12px;
    }
  }
}

ul.flykt-resultList {
  li{

    display: inline-block;
    float: left;
    min-width: 50%;
    height: 200px;
  }
}

.result-price {
  position: absolute;
  bottom: 0;
  .total-price{
    float: left;
    padding: 2px 10px;
    font-weight: bold;
    background-color: white;
  }
}

// SEARCH OVERVIEW
.flykt-overview-searchbox-left {
  float: left;
  width: 49%;
  .airport-wrapper {
    .airport-input-wrapper {
      width: 100%;
      height: 100%;
      z-index:1;
      .airports-label{
        font-size: 14px;
        text-decoration: none;
        height: 100%;
        bottom: 0;
        line-height: 30px;
        text-indent: $text-indent-searchOverview;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
      input {
        margin-top: 0;
        width: 100%;
        text-indent: $text-indent-searchOverview;
      }
      .airports-icon {
        display: none;
      }
    }
    .option-bg {
      position: absolute;
      width: 47.5%;
      margin-top: 5px;
      padding-left: 5px;
      background-color: white;
      -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
    }
    .airport-results {
      margin-top: 5px;
      margin-left: 0;
      z-index: 3;
      width: 47.5%;
    }
  }
  .accomodationSelectorContainer {
    select {
      padding-left: 10px;
    }
  }
  .accomodationSelectorContainer,.DatePicker {
  width: 100%;
    > select {
      font-size: 14px;
      height: 100%;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  .accomodationSelectorContainer::after {
    right: 54.5%;
    top: 8.5rem;
  }
  .DatePicker {
    > div:first-child {
      float: left;
    }
    > div:last-child {
      float: right;
    }
    input.DateInput {
      font-size: 14px;
      padding-left: $text-indent-searchOverview;
    }
  }
  .airport-wrapper {
    display: inline-block;
  }

}

.flykt-overview-searchbox-right {
  float: right;
  width: 49%;
  .categories-wrapper{
    input{
      padding: 10px;
    }

    border: 0;
    .flykt-list{
      margin-left: -27.5rem;
      margin-top: 5px;
      &::before{
        left: 31.625rem;
      }
    }
  }
  .Budget {
    input {
      text-indent: $text-indent-searchOverview;
      font-size: 14px;
      height: 100%;
      border: 0;
    }
  }
  .passengerSelector{
    .passengerSelector-textPreview {
      font-size: 14px;
      line-height: 30px;
      height: 100%;
      padding-left: $text-indent-searchOverview;
    }
    .passengerSelector-MainList {
      width: 45.5%;
    }
    .passengerSelector-arrow{
      line-height: 28px;
    }
    .passengerSelector-MainList-moreOptions {
      border: 0;
    }
    ul.passengerSelector-OptionsList {
      width: 46.6%;
      z-index: 2;
      margin-top: 5px;
    }
    .passengerSelector-roomsListOpen {
      position: absolute;
      z-index: 3;
      width: 98%;
    }
  }
  .searchBtnContainer{
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    background-color: $orange;
    color: white;
    border: 1px solid $orange;
    box-shadow: 0 1px 3px rgba(0,0,0,0.14), inset 0 1px 0 $orange;
  }
}

.flykt-overview-searchbox-left,.flykt-overview-searchbox-right {
  > div {
    box-shadow: 0 1px 3px rgba(0,0,0,0.14), inset 0 1px 0 $grey;
    height: 30px;
    width: 100%;
    margin: 5px 0;
    border: 1px solid $grey;
    border-radius: 1px;
    font-size: 14px;
  }
  .custom-input,.airportPlaceholder {
    font-size: 14px;
    border: 0;
    text-indent: 0;
  }
}
// FILTERS
.flykt-resultList-filters {
  //height: 100%;
  width: 100%;
  margin-top: 20px;
  display: inline-block;
  .flykt-resultList-filters-price {
    width: 49%;
    display: inline-block;
    float: left;
    margin-right: 2%;
    margin-bottom: 10px;
  }
  .flykt-resultList-filters-duration {
    width: 49%;
    display: inline-block;
    float: right;
    margin-bottom: 10px;
  }
  .horizontal-slider {
    margin-top: 10px;
  }
  .handle {
    top: -6px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    color: #2ab2d8;
    border: 1px solid #2ab2d8;
    background: #fff;
    border-radius: 50%;
    cursor: -webkit-grab;
    > div {
      position: absolute;
      top: 12px;
    }
  }
  .bar {
    background: #f2f2f2;
    height: 1px;
  }
}

//Foundation adjustments
#flykt-widget > div > div > div.flykt-component-modal.open > div > ul {
  margin-top: 20px;
}

// Closing button
.flykt-hide {
  cursor: pointer;
}

// Loader CSS

#circleG{
  width:96px;
  margin:auto;
  margin-bottom: 60px;
  margin-top: 20px;
}

.circleG{
  background-color:rgb(255,255,255);
  float:left;
  height:$loadingSize;
  margin-left:17px;
  width:$loadingSize;
  animation-name:bounce_circleG;
  -o-animation-name:bounce_circleG;
  -ms-animation-name:bounce_circleG;
  -webkit-animation-name:bounce_circleG;
  -moz-animation-name:bounce_circleG;
  animation-duration:2.24s;
  -o-animation-duration:2.24s;
  -ms-animation-duration:2.24s;
  -webkit-animation-duration:2.24s;
  -moz-animation-duration:2.24s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  border-radius:20px;
  -o-border-radius:20px;
  -ms-border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
}

#circleG_1{
  animation-delay:0.45s;
  -o-animation-delay:0.45s;
  -ms-animation-delay:0.45s;
  -webkit-animation-delay:0.45s;
  -moz-animation-delay:0.45s;
}

#circleG_2{
  animation-delay:1.05s;
  -o-animation-delay:1.05s;
  -ms-animation-delay:1.05s;
  -webkit-animation-delay:1.05s;
  -moz-animation-delay:1.05s;
}

#circleG_3{
  animation-delay:1.35s;
  -o-animation-delay:1.35s;
  -ms-animation-delay:1.35s;
  -webkit-animation-delay:1.35s;
  -moz-animation-delay:1.35s;
}

@keyframes bounce_circleG{
  0%{}
  50%{
    background-color: $active-blue;
  }
  100%{}
}

@-o-keyframes bounce_circleG{
  0%{}
  50%{
    background-color:rgb(0,0,0);
  }
  100%{}
}

@-ms-keyframes bounce_circleG{
  0%{}
  50%{
    background-color:rgb(0,0,0);
  }
  100%{}
}

@-webkit-keyframes bounce_circleG{
  0%{}
  50%{
    background-color:rgb(0,0,0);
  }
  100%{}
}

@-moz-keyframes bounce_circleG{
  0%{}
  50%{
    background-color:rgb(0,0,0);
  }
  100%{}
}
